* { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; box-sizing: border-box; -moz-box-sizing: border-box; } 
body, html { padding: 0; margin: 0; width: 100%; height: 100%; }
h2 { margin-top: 0; margin-bottom: 15px; }
#container { position: relative; width: 100%; height: 100%; }

.pane { position: absolute; top: 0; height: 100%; width: 25%; padding: 10px 15px; background: #eee; z-index: 20; }
.subpane { position: absolute; left: 0; width: 100%; padding: 10px 15px; }
#left { left: 0%; box-shadow: 5px 0 20px 0 #bbb; }
#left_top { top: 0; }
#left_bottom { bottom: 0; }
#center { left: 25%; width: 50%; background: #ddd; z-index: 10; }
#played_whites { width: 100%; height: 100%; }
#right { left: 75%; box-shadow: -5px 0 20px 0 #bbb; clear: both; }
.clear { clear: both; }

.card {
	padding: 5px 10px;
	font-weight: bold;
	font-size: 125%;
	min-height: 1em;
	width: 100%;
	margin-bottom: -1px;
}
.card.black { background: #111; color: #fff; border: 1px solid #333; padding: 10px 15px; }
#black_extra { font-size: 50%; background: #555; padding: 3px 5px; white-space: nowrap; }
.card.white { background: #fff; color: #111; border: 1px solid #aaa; }
.cards { float: left; width: 50%; padding: 5px; }
.card, .cards { transition: 0.1s; }

#hand.active .card.white:hover, #played_whites.active .cards:hover .card {
	background: #e55;
	border-color: #c00;
	cursor: pointer;
}

.highlighted .card, .card.highlighted {
	background: #e55 !important;
	border-color: #c00 !important;
}

.hidden { display: none; }

#judge_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #aaa;
	opacity: 0.95;
}

#judge_overlay span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	margin-top: 40%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
	background: #ddd;
	z-index: 30;
	margin: 2.5%;
	box-shadow: 0 0 20px 0 #333;
	padding: 10px 15px;
}

@media only screen and (max-device-width: 719px), only screen and (max-width: 719px) {
	.pane, .subpane { position: relative; left: 0 !important; top: 0 !important; height: auto; width: 100% !important; }
	.subpane { padding: 0; }
	#right { box-shadow: 0 5px 20px 0 #bbb; }
	#left_bottom { padding-top: 20px; }
	#right { box-shadow: 0 -5px 20px 0 #bbb; }
	#judge_overlay span { margin-top: 15%; }
}