* { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; box-sizing: border-box; -moz-box-sizing: border-box; } 
body, html { padding: 0; margin: 0; width: 100%; height: 100%; }
h2 { margin-top: 0; }
#container { position: relative; width: 100%; height: 100%; }

.pane { position: absolute; top: 0; height: 100%; width: 25%; padding: 10px 15px; background: #eee; z-index: 20; }
#left { left: 0%; box-shadow: 5px 5px 20px 0 #bbb; }
#center { left: 25%; width: 50%; background: #ddd; z-index: 10; }
#right { left: 75%; box-shadow: -5px 5px 20px 0 #bbb; }

.card {
	padding: 10px 15px;
	font-weight: bold;
	font-size: 150%;
	min-height: 1em;
	width: 100%;
	margin-bottom: -1px;
}
.card.black { background: #111; color: #fff; border: 1px solid #333}
#black_extra { font-size: 50%; background: #555; padding: 3px 5px; white-space: nowrap; }
.card.white { background: #fff; color: #111; border: 1px solid #aaa; }
.cards { float: left; width: 50%; padding: 5px; }

.card, .cards { transition: 0.1s; }
#right.active .card.white:hover, #center.active .cards:hover .card {
	background: #e55;
	border-color: #c00;
	cursor: pointer;
}

.hidden { display: none; }

#judge_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #aaa;
	opacity: 0.95;
}

#judge_overlay span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	margin-top: 40%;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
	background: #ddd;
	z-index: 30;
	margin: 2.5%;
	box-shadow: 0 0 20px 0 #333;
	padding: 10px 15px;
}